In [3]:
import pandas as pd
import numpy as np

In [5]:
P1 = pd.DataFrame(['P-000000001', 'DECORACION VINTAGE', 'S.L.', 'CALLE FRIDEX CUATRO, NUMERO 2, POLIGONO INDUSTRIAL FRIDEX AUTOPISTA SEVILLA-MÁLAGA A92 - KM 4,4',
                               '41500', 'ALCALÁ DE GUADAIRA', 'SEVILLA', 'ANDALUCIA', 'ESPAÑA', '955 514 001', '654 334 316', '', 'comercial@misterwils.com', 'www.misterwils.com']).transpose()
P1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,P-000000001,DECORACION VINTAGE,S.L.,"CALLE FRIDEX CUATRO, NUMERO 2, POLIGONO INDUST...",41500,ALCALÁ DE GUADAIRA,SEVILLA,ANDALUCIA,ESPAÑA,955 514 001,654 334 316,,comercial@misterwils.com,www.misterwils.com

In [6]:
P2 = pd.DataFrame(['P-000000002', 'DECORACION VINTAGE', 'S.L.', 'CALLE FRIDEX CUATRO, NUMERO 2, POLIGONO INDUSTRIAL FRIDEX AUTOPISTA SEVILLA-MÁLAGA A92 - KM 4,4',
                               '41500', 'ALCALÁ DE GUADAIRA', 'SEVILLA', 'ANDALUCIA', 'ESPAÑA', '955 514 001', '654 334 316', '', 'comercial@misterwils.com', 'www.misterwils.com']).transpose()
P2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,P-000000002,DECORACION VINTAGE,S.L.,"CALLE FRIDEX CUATRO, NUMERO 2, POLIGONO INDUST...",41500,ALCALÁ DE GUADAIRA,SEVILLA,ANDALUCIA,ESPAÑA,955 514 001,654 334 316,,comercial@misterwils.com,www.misterwils.com

In [7]:
DB_proveedores = pd.concat([P1, P2], axis=0)
DB_proveedores = DB_proveedores.rename(columns = {0:'ID', 1:'Nombre', 2:'Razon_Social', 3:'Direccion', 4:'CP', 5:'Localidad', 
                                 6:'Provincia', 7:'CCAA', 8:'Pais', 9:'TELF', 10:'MOVIL', 11:'FAX', 12:'EMAIL', 13:'WEB'})

In [8]:
DB_proveedores

,ID,Nombre,Razon_Social,Direccion,CP,Localidad,Provincia,CCAA,Pais,TELF,MOVIL,FAX,EMAIL,WEB
0,P-000000001,DECORACION VINTAGE,S.L.,"CALLE FRIDEX CUATRO, NUMERO 2, POLIGONO INDUST...",41500,ALCALÁ DE GUADAIRA,SEVILLA,ANDALUCIA,ESPAÑA,955 514 001,654 334 316,,comercial@misterwils.com,www.misterwils.com
0,P-000000002,DECORACION VINTAGE,S.L.,"CALLE FRIDEX CUATRO, NUMERO 2, POLIGONO INDUST...",41500,ALCALÁ DE GUADAIRA,SEVILLA,ANDALUCIA,ESPAÑA,955 514 001,654 334 316,,comercial@misterwils.com,www.misterwils.com

In [48]:
def nuevo_id(inp, tipo):
    
    if(tipo[0]==inp['ID'][0:1][0][0].lower()):
    
        if(tipo=='cliente'):

            c_n = int(inp['ID'].tail(1)[0].split('-')[1].lstrip('0'))+1
            c_n = str(str(c_n).zfill(9))
            output = 'C-' + c_n

        elif(tipo=='proveedor'):

            c_n = int(inp['ID'].tail(1)[0].split('-')[1].lstrip('0'))+1
            c_n = str(str(c_n).zfill(9))
            output = 'P-' + c_n
            
        return(output)
    
    else:
        
        print('ERROR: La tabla de entrada y el tipo seleccionado no son compatibles.')

'P-000000003'

In [ ]:
def nuevo_proveedor(inp, info):
    
    id_new = nuevo_id(inp, tipo='proveedor')
    values = id_new + info
    
    
    return(output)

In [52]:
 ['DECORACION VINTAGE', 'S.L.', 'CALLE FRIDEX CUATRO, NUMERO 2, POLIGONO INDUSTRIAL FRIDEX AUTOPISTA SEVILLA-MÁLAGA A92 - KM 4,4', '41500', 'ALCALÁ DE GUADAIRA', 'SEVILLA', 'ANDALUCIA', 'ESPAÑA', '955 514 001', '654 334 316', '', 'comercial@misterwils.com', 'www.misterwils.com']

['DECORACION VINTAGE',
 'S.L.',
 'CALLE FRIDEX CUATRO, NUMERO 2, POLIGONO INDUSTRIAL FRIDEX AUTOPISTA SEVILLA-MÁLAGA A92 - KM 4,4',
 '41500',
 'ALCALÁ DE GUADAIRA',
 'SEVILLA',
 'ANDALUCIA',
 'ESPAÑA',
 '955 514 001',
 '654 334 316',
 '',
 'comercial@misterwils.com',
 'www.misterwils.com']

In [51]:
nombres_c = DB_proveedores.columns



pd.concat([DB_proveedores,

,ID,Nombre,Razon_Social,Direccion,CP,Localidad,Provincia,CCAA,Pais,TELF,MOVIL,FAX,EMAIL,WEB
0,P-000000001,DECORACION VINTAGE,S.L.,"CALLE FRIDEX CUATRO, NUMERO 2, POLIGONO INDUST...",41500,ALCALÁ DE GUADAIRA,SEVILLA,ANDALUCIA,ESPAÑA,955 514 001,654 334 316,,comercial@misterwils.com,www.misterwils.com
0,P-000000002,DECORACION VINTAGE,S.L.,"CALLE FRIDEX CUATRO, NUMERO 2, POLIGONO INDUST...",41500,ALCALÁ DE GUADAIRA,SEVILLA,ANDALUCIA,ESPAÑA,955 514 001,654 334 316,,comercial@misterwils.com,www.misterwils.com