In [1]:
%run P00_LIBRERIAS.ipynb

In [2]:
%run P00_FUNCIONES.ipynb

In [3]:
ruta_fact = "../P03_FACTURAS/factura_A04665_2020.pdf"
tipo = 'COMPRA'
tabla_conta = format_info(tipo, ruta_fact)

In [79]:
print_table(tabla_conta)

In [12]:
tabla_conta

         CONCEPTO                    VALOR
0              ID              P-000000001
1          NOMBRE       Decoracion vintage
2             CIF                B91241232
3              CP                    41500
4           FECHA  31 de diciembre de 2020
5     FECHA_CONTA               2021-01-14
6   TOTAL SIN IVA                  34,20 €
7  BASE IMPONIBLE                  34,20 €
8         IVA 21%                   7,18 €
9   TOTAL CON IVA                  41,38 €

In [70]:
iva_str = [concept for concept in tabla_conta['CONCEPTO'].to_list() if ('21' in concept.lower()) | ('10' in concept.lower()) | ('4' in concept.lower())][0]
tipo_imp = int(iva_str.split(' ')[1].replace('%', ''))
iva_str = tabla_conta[tabla_conta['CONCEPTO']==iva_str]['VALOR'].tolist()[0]
iva = float(iva_str.replace('€', '').replace(' ', '').replace(',', '.'))
base_str = tabla_conta[tabla_conta['CONCEPTO']=='BASE IMPONIBLE']['VALOR'].tolist()[0]
base = float(base_str.replace('€', '').replace(' ', '').replace(',', '.'))
total_str = tabla_conta[tabla_conta['CONCEPTO']=='TOTAL CON IVA']['VALOR'].tolist()[0]
total = float(total_str.replace('€', '').replace(' ', '').replace(',', '.'))

In [71]:
tipo_imp

21

In [72]:
iva_str

'7,18 €'

In [73]:
iva

7.18

In [74]:
base_str

'34,20 €'

In [75]:
base

34.2

In [76]:
total_str

'41,38 €'

In [77]:
total

41.38

In [17]:
import os
from os import listdir
from os.path import isfile, join
from tkdocviewer import *

mypath = '../P03_FACTURAS'

onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfiles
path = os.path.abspath(os.getcwd())

In [18]:
fileodf='/'.join(path.split('\\')[:-1]) + '/P03_FACTURAS' +'/'+ onlyfiles[2]

In [19]:
fileodf

'C:/Users/manuel.garcia/OneDrive - INNOVACION TECNOLOGICA Y SOLUCIONES DE NEGOCIO SL/CODIGOS/Programa_CONTAUT/P03_FACTURAS/M607.PDF'

In [20]:
fileodf='../' + '/'.join(fileodf.split('/')[-2:])

In [21]:
fileodf

'../P03_FACTURAS/M607.PDF'

In [22]:
# Create a root window
root = Tk()

# Create a DocViewer widget
v = DocViewer(root)
v.pack(side="top", expand=1, fill="both")

# Display some document
v.display_file(fileodf)

# Start Tk's event loop
root.mainloop()